body {
    background-color: aqua
}

#firstimage {
width: 450px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 20px;
}

h1, h2 {
    font-family: "Lobster", cursive;
    text-align: center;
}

table {
    border: 1px solid gray;
    border-collapse: collapse; /* let comment */
}

td {
    border: 1px solid gray;
    border: 30px;
    
}

#paragraph {
    border: 3px gray;
    border-radius: 30px;
    font-family: "Lobster", cursive;
    text-align: center;
}